* {
    padding: 0%;
    margin: 0%;
}

.container {
    background-color: black;
    color: white;

    .navbar {
        display: flex;
        justify-content: space-evenly;
        height: 90px;
        width: 100%;
        background-color: black;
        color: white;
        align-items: center;

        .logo {
            font-size: 50px;
        }

        .element {
            display: flex;
            list-style: none;
            gap: 20px;
            font-size: 28px;
            text-transform: capitalize;
        }
        a{
            text-decoration: none;
            color: white;
            font-style: 28px;
            text-transform: capitalize;
        }
        
    }

    .main {
        display: flex;
        /* border: 2px solid red; */
        justify-content: center;
        height: 85vh;
        align-items: center;

        .title {
            display: flex;
            flex-direction: column;
            /* border: 1px solid red; */
            width: 45%;

            h3 {
                padding: 5px;
                font-size: 30px;
                text-transform: capitalize;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }

            h1 {
                padding: 5px;
                font-size: 30px;
                text-transform: capitalize;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

            }

            h2 {
                padding: 5px;
                font-size: 30px;
                text-transform: capitalize;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }

            p {
                text-align: justify;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 20px;
                padding: 5px;
                font-family: cursive;
            }

            .icons {
                padding: 5px;

                i {
                    gap: 20px;
                    font-size: 25px;
                    padding: 10px 0px;
                }
            }

            .btn {
                display: flex;
                gap: 20px;

                button {
                    font-size: 10px;
                    text-transform: capitalize;
                    border: none;
                    border-radius: 10px;
                    padding: 5px 5px;
                }

                .hire-me {
                    background-color: orangered;
                    color: white;
                    text-align: center;
                }

                .contact-me {
                    background-color: orangered;
                    color: white;
                    text-align: center;
                }
            }
        }

        .img {
            img {
                height: 300px;
                width: 350px;
            }
        }
    }
}